@charset "utf-8";
@import "./variables/color.scss";
@import "./functions/mixin.scss";

@font-face {
  font-family: 'Noto Sans KR';
  src:  local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
        url('~/fonts/noto-sans-kr-500.woff') format('woff'),
        url('~/fonts/noto-sans-kr-500.woff2') format('woff2');
}

#app {
  font-family: 'Noto Sans KR', sans-serif;
  // background: url('~/images/typescript-bg.png') no-repeat 50% 50%;
  background-size: contain;
  background-color: $color-white;
}

.accordion .menu .icon{
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 2.1875rem;
  box-sizing: content-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 16px;
  margin: 4px 0px;
}