@charset "utf-8";
@import "./variables/color.scss";
@import "./functions/mixin.scss";

@font-face {
  font-family: 'Noto Sans KR';
  src:  local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
        url('~/fonts/noto-sans-kr-500.woff') format('woff'),
        url('~/fonts/noto-sans-kr-500.woff2') format('woff2');
}

#app {
  font-family: 'Noto Sans KR', sans-serif;
  // background: url('~/images/typescript-bg.png') no-repeat 50% 50%;
  background-size: contain;
  background-color: $color-white;
}


main{display:flex;position:relative;height:100vh;}
nav{width:200px;border-right:1px solid #eee;}
nav h1{padding:20px 0;text-align:center;}
nav a{display:block;padding:10px 20px;color:inherit;}
nav a.active{color:#48aaf9;}
section{flex:1;padding:20px 40px 40px;background:#f7f7f7;}
.panel{border:1px solid #eee;background:#fff;}
.panel-header{padding:16px 20px;border-bottom:1px solid #eee;}
.panel-header h2{font-size:20px;}
.panel-content{padding:16px 20px;border-bottom:1px solid #eee;}
// .code{padding:16px 20px;margin:20px;background:#000;color:#fff;border-radius:16px;font-weight:bold;}
div.code{white-space: pre;}
.user{display:flex;}
.user-img img{width:200px;}
.user-text{padding-left:20px;}

.link{display:flex;flex-direction:column;margin-top:10px;}
.link p{margin-top:10px;font-size:12px;}
.link-item{margin-top:4px;}
.link-item:hover{color:#48aaf9;}
.link-item:before{content:'-';display:inline-block;margin-right:6px;}


.accordion-item + .accordion-item{border-top:1px solid #eee;}
.accordion-header{padding:16px;cursor:pointer;}
.accordion-header .icon{ width:20px;height:20px;vertical-align:sub;display:inline-block;}
.accordion-content{padding:8px 16px 16px;}

.tab-nav{display:flex;}
.tab-item{padding:12px 16px;font-size:16px;font-weight:bold;text-align:center;box-sizing:border-box;cursor:pointer;}
.tab-item.active{color:#48aaf9;border-bottom:2px solid #48aaf9;}
.tab-content{padding:20px;}
